.banner-slider{
height:520px;
width:100%;
overflow:hidden;
position:relative;
display:block;
line-height:0;
}

.banner-track{
display:flex;
height:100%;
transition:.6s ease;
}

.banner-slide{
min-width:100%;
height:100%;
position:relative;
}

.banner-slide img{
width:100%;
height:520px;
object-fit:fill;
display:block;
}


.banner-text{
position:absolute;
top:50%;
left:10%;
transform:translateY(-50%);
color:white;
z-index:2;
max-width:450px;
line-height: normal; /* Restaura el interlineado normal para los textos */
}


.banner-text h1{
font-size:55px;
margin-bottom:15px;
}


.banner-text p{
font-size:22px;
}


.banner-text button{
margin-top:25px;
padding:14px 35px;
border:none;
border-radius:25px;
background:#ed4b25;
color:white;
font-weight:bold;
cursor:pointer;
transition:.3s;
}


.banner-text button:hover{
transform:scale(1.08);
}


.banner-btn{
position:absolute;
top:50%;
transform:translateY(-50%);
border:none;
background:white;
width:45px;
height:45px;
border-radius:50%;
cursor:pointer;
font-size:25px;
z-index:3;
}


.left{
left:20px;
}


.right{
right:20px;
}


.dots{
position:absolute;
bottom:20px;
left:50%;
transform:translateX(-50%);
display:flex;
gap:10px;
}


.dots span{
width:12px;
height:12px;
border-radius:50%;
background:white;
cursor:pointer;
}


.dots .active{
background:#ed4b25;
}