.banner-slider{
height:520px;
width:100%;
overflow:hidden;
position:relative;
display:block;
line-height:0;
}

.banner-track{
display:flex;
height:100%;
transition:.6s ease;
}

.banner-slide{
min-width:100%;
height:100%;
position:relative;
}

.banner-slide img{
width:100%;
height:520px;
object-fit:fill;
display:block;
}

.banner-slide::before{
content:"";
position:absolute;
inset:0;
background:linear-gradient(90deg, rgba(0,0,0,.6) 0%, rgba(0,0,0,.35) 40%, rgba(0,0,0,0) 75%);
z-index:1;
pointer-events:none;
}


.banner-text{
position:absolute;
top:50%;
left:10%;
transform:translateY(-50%);
color:white;
z-index:2;
max-width:450px;
line-height: normal;
}


.banner-text h1{
font-size:55px;
margin-bottom:15px;
text-shadow:0 3px 10px rgba(0,0,0,.5);
}


.banner-text p{
font-size:22px;
text-shadow:0 2px 6px rgba(0,0,0,.5);
}


.banner-text a{
display:inline-block;
margin-top:25px;
padding:14px 35px;
border:2px solid white;
border-radius:25px;
background:#ed4b25;
color:white;
font-weight:bold;
text-decoration:none;
cursor:pointer;
transition:.3s;
box-shadow:0 4px 15px rgba(0,0,0,.35);
}


.banner-text a:hover{
transform:scale(1.08);
background:#ffc400;
color:black;
border-color:#ffc400;
}


.banner-btn{
position:absolute;
top:50%;
transform:translateY(-50%);
border:none;
background:white;
width:45px;
height:45px;
border-radius:50%;
cursor:pointer;
font-size:25px;
z-index:3;
box-shadow:0 3px 10px rgba(0,0,0,.3);
}


.left{
left:20px;
}


.right{
right:20px;
}


.dots{
position:absolute;
bottom:20px;
left:50%;
transform:translateX(-50%);
display:flex;
gap:10px;
z-index:3;
}


.dots span{
width:12px;
height:12px;
border-radius:50%;
background:white;
cursor:pointer;
box-shadow:0 0 4px rgba(0,0,0,.4);
}


.dots .active{
background:#ed4b25;
}

@media(max-width:900px){
.banner-slider,
.banner-slide,
.banner-slide img{
height:400px;
}

.banner-text{
left:11%;
max-width:72%;
}

.banner-text h1{
font-size:36px;
}

.banner-text p{
font-size:16px;
}

.banner-btn{
width:38px;
height:38px;
font-size:18px;
}
}

@media(max-width:500px){
.banner-slider,
.banner-slide,
.banner-slide img{
height:256px;
}

.banner-text{
left:14%;
max-width:78%;
}

.banner-text h1{
font-size:26px;
margin-bottom:8px;
}

.banner-text p{
font-size:13px;
}

.banner-text a{
padding:10px 22px;
margin-top:14px;
font-size:14px;
}

.left{ left:10px; }
.right{ right:10px; }
}