.categories-section{

padding:50px 40px;

text-align:center;

}


.categories-section h2{

font-size:32px;

margin-bottom:40px;

}



.categories-container{

display:flex;

justify-content:center;

gap:30px;

flex-wrap:wrap;

}



.category-card{

width:180px;

height:180px;

background:white;

border-radius:20px;

box-shadow:0 5px 15px #ddd;

display:flex;

flex-direction:column;

justify-content:center;

align-items:center;

text-decoration:none;

color:#222;

transition:.3s;

}



.category-card:hover{

transform:translateY(-10px);

box-shadow:0 10px 25px #bbb;

}



.category-icon{

font-size:60px;

margin-bottom:15px;

}