.featured{

padding:50px 40px;

}


.featured h2{

text-align:center;

font-size:32px;

margin-bottom:40px;

}



.featured-wrapper{

display:flex;

align-items:center;

gap:15px;

}



.featured-products{

display:flex;

gap:25px;

overflow:hidden;

scroll-behavior:smooth;

}



.featured-item{

min-width:250px;

}



.arrow{

width:45px;

height:45px;

border:none;

border-radius:50%;

background:#43b96d;

color:white;

font-size:25px;

cursor:pointer;

transition:.3s;

}



.arrow:hover{

background:#ffc400;

color:black;

transform:scale(1.1);

}